.bg-f94144{
    background-color:#f94144;
}
.bg-f3722c{
    background-color:#f3722c;
}
.bg-f8961e{
    background-color:#f8961e;
}
.bg-f9844a{
    background-color:#f9844a;
}
.bg-f9c74f{
    background-color:#f9c74f;
}
.bg-90be6d{
    background-color:#90be6d;
}
.bg-43aa8b{
    background-color:#43aa8b;
}
.bg-4d908e{
    background-color:#4d908e;
}
.bg-577590{
    background-color:#577590;
}
.bg-277da1{
    background-color:#277da1;
}
.fontcolor-white{
    color: #ffffffff
}
.fontcolor-lightgray{
    color: lightgray
}
.name{
    font-size: 30px;
}
.balance{
    font-size: 25px;
}

.overflow-protection{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.color-tab{
    width: 10px;
}

.transaction-cards-container{
    min-height: 450px;
    overflow-y: scroll;
}
.cards-container{
    overflow: auto;
    white-space: nowrap;
}

.recipt{
    font-size: 100px
}

* {
scrollbar-width: thin;
scrollbar-color: #c9c9c9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 15px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #c9c9c9;
border-radius: 15px;
border: 3px solid #ffffff;
}
